@model ErrorViewModel
@{
    ViewData["Title"] = "Błąd";
}

<h1 class="text-danger">BŁĄD!</h1>
<h2 class="text-danger">Twoje konto zostało zablokowane. Nie możesz dokonać rezerwacji. W tym celu skontaktuj się z Administratorem.</h2>
<a href="/Home/Index">Wróc na strone główną.</a>
