@model Tutor.Models.Subject

@{
    ViewData["Title"] = "Szczegóły przedmiotu";
}

<h1 class="alert alert-primary text-black text-center">Szczegóły przedmiotu</h1>

<div>
    <h4>Przedmiot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a> 
    <a class="btn btn-warning" asp-action="Index">Powrót</a>
</div>
